<p>Dear <%= @artist.name %>,</p>

<p>Congratulations, you have been awarded a <%= @year %> Firefly <%= @grant.name %>
  Grant in the amount of $<%= @submission.granted_funding_dollars %> to help bring
  <%= @submission.name %> to this year's Firefly Arts Festival <%= @year %>!</p>

<p>Thanks for your efforts -- the competition was fierce and there were a number
  of really impressive projects to choose from this year!</p>

<%if @submission.public_funding_notes.present? %>
<p><%= safe_blockquote(@submission.public_funding_notes) %></p>
<% end %>

<h2>Grant Contract</h2>

<p>Please visit your page on the Art Grant website and click the button to
  generate a contract for your project.</p>

<p>If you are accepting the grant, please sign and return this contract to us
  ASAP, and no later than end-of-day on <%= @values["contract_deadline"] %>. The signed contract
  should be sent as an email attachment in a response (Reply All) to this email.
  Scans are best, but high quality photographs are also acceptable in a pinch
  (please, please, please have good, even lighting and framing if you must go
  this route!).</p>

<p>If you are NOT accepting the grant, for whatever reason, please let us know
  ASAP as well.</p>

<p><b>If we do not hear from you, we will assume that you are NOT accepting the
  grant, and we will allocate these funds towards something else!</b></p>

<h2>Payment Methods</h2>

<p>We also need to know how you'd prefer to be paid. There are three options,
in order of speed / ease of payment for Firefly:</p>

<ol>
  <li>Popmoney -- a bank-run direct deposit system that firefly uses for most of
  its payments.  You'll get an email explaining how to connect your bank account.
  </li>
  <li>Paypal -- Please provide your paypal address</li>
  <li>Physical check -- we will use the mailing address you provided unless
  otherwise requested.</li>
</ol>

<h2>Schedule</h2>

<% @values["schedule"].each do |line| %>
  <%= line %><br/>
<% end %>

<p>Let us know if you have any questions!</p>

<p>- Firefly Art Grant Core</p>
