<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title clearfix">Admins
      <div class="btn-group pull-right">
        <% if can? :new, Admin %>
          <%= link_to "Add Admin", new_admin_path, class: 'btn btn-sm btn-primary' %>
        <% end %>
      </div>
    </h3>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.name %></td>
      <td><%= admin.email %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% unless any_vote_open? %>
  <div class="well">
    No grants active for voting at this time.
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">Verified Voter Assignments
      <div class="btn-group pull-right">
      <%= link_to "Assign Submissions", assign_admins_voter_submission_assignments_path, class: 'btn btn-sm btn-primary', method: :post %>
      <%= link_to "Clear assignments", admins_voter_submission_assignments_path, class: 'btn btn-sm btn-warning', method: :delete %>
      </div>
    </h3>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Grants</th>
      <th>Assigned</th>
    </tr>
    </thead>
    <tbody>
    <% @verified_voters.each do |voter| %>
    <tr>
      <td>
        <% if can? :edit, voter %>
          <%= link_to voter.name, voter_path(voter) %>
        <% else %>
          <%= voter.name %>
        <% end %>
        <br />
        <%= voter.email %>
      </td>
      <td>
        <% if voter.grants.count > 0 %>
          <%= voter.grants.pluck(:name).join(", ") %>
        <% else %>
          <em>None</em>
        <% end %>
      </td>
      <td>
        <% if voter.grant_submissions.count > 0 %>
        <ul class="list-unstyled">
          <% voter.grant_submissions.map do |grant_submission| %>
            <li><%= "#{grant_submission.name}(##{grant_submission.id})" %></li>
          <% end %>
        </ul>
        <% else %>
          <em>None</em>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
