<ol class="breadcrumb">
  <li><%= link_to "My Submissions", grant_submissions_path %></li>
  <li class="active"><%= @grant_submission.name %></li>
  <li class="active">Discussion</li>
</ol>

<%= simple_form_for @grant_submission, :html => { :onsubmit => "return validate();"} do |f| %>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Questions from Committee</h3>
          </div>
          <div class="panel-body">
            <%= render partial: 'safe_blockquote', locals: { text: @grant_submission.questions } %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Answers from Artist</h3>
          </div>
          <div class="panel-body">
            <%= f.text_area :answers, class: 'form-control', rows: '20' %>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">
      <%= f.button :submit, 'Update Submission', class: 'btn btn-primary' %>
    </p>
  </div>
<% end %>
